body{
  font-family: 'Comic Sans MS';
  background-image: url(../img/triangle-mosaic.png);
}


.menu-item.active{
  width: 100%;
  padding: 0;
  text-align: right;
}

.user-name{
  color: white;
}

.btn.btn-link.p-0.ml-3{
  color:#e6e6fa;
  text-emphasis: none;
}

.btn.btn-link.p-0.ml-3.hover{
  color:#e6e6fa;
}

.menu-item.active a{
  color: white;
  padding: 20px;
}

.menu-item.active a.hover{
  color: white;
  text-decoration: none;
}

.contents{
  margin-left: auto;
}

.container-fluid{
  text-align: center;
}

footer{
  padding-left: auto;
  padding-right: auto;
}

table{
  width: 50%;
  height: 30px;
  border-collapse:separate;
  border-spacing: 0;
  margin-right: auto;
  margin-left: auto;

}

tr.term{
  text-align: center;
  color:white;
  background: linear-gradient(#b7d1ec,#66819c);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c66909d;
  box-shadow: 0px 0.5px 0.5px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;

}


tr.items{
  text-align: center;
  border-bottom: 0.5px solid #a8b7c5be;
  border-top:none;
  box-shadow: 0px -1px 3px 1px #eee inset;
  background-color: #e6e6fa;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
