body {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/triangle-mosaic.png);
    font-family: 'Comic Sans MS';
}
  
a.top-page{
    color :black;
    text-decoration: none;
}
  
div h1 a.hover{
    color :black;
    text-decoration: none;
}
  
ul{
    list-style: none;
    padding-left: auto;
    padding-right: auto;
}
  
  
.card-footer.text-muted.text-center{
    background-color: lavender;
}

.form-control{
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }