{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/makeproject.css' %}">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <title>プロジェクト作成</title>
</head>

<header>
    <div class="title-box">
        <h1>Study do myself</h1>
    </div>
</header>


<h2>プロジェクト作成</h2>
    <form class="form-makeproject" method='POST' action=''> {% csrf_token %}
            {{ form.as_p  }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">登録する</button>
</form>


{% endblock content %}
