{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
    <title>Signin Template for from Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">

</head>

<body>
    <div class="container">
        <h1 class="text-center logo my-4">
            <a class="top-page" href="{% url 'mypage' %}">Study Do Myself</a>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Build Project</h3>
                        <form method="POST" action="{% url 'project' %}" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.project_name }}
                                {{ form.expenses_item }}
                                {{ form.expenses }}
                                {{ form.description }}
                                {{ form.due_date }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Build</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{ form.errors }}
</body>

{% endblock content %}