{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
  <form method="post" action="{% url 'signup' %}" class="form-group">{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">登録画面</h1>
    {% for item in form %}
        <div class="form-group">
            <input 
                type="{{item.field.widget.input_type}}"
                class="form-control" 
                placeholder="{{item.name}}"
                {% if item.field.required %}required{% endif %} 
                name="{{item.name}}" 
                id="{{item.id_for_label}}">
        </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">登録する</button>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
</body>

{% endblock content %}

<!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
-->


